name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0  

    - name: Git Semantic Version
      id: version
      uses: PaulHatch/semantic-version@v4.0.3
      with:
        major_pattern: "major:"
        minor_pattern: "feat:"
        format: "${major}.${minor}.${patch}-prerelease${increment}"

    - name: DockerHub login
      env:
        DOCKER_USER: ${{ secrets.DOCKER_USER }}
        DOCKER_PASS: ${{ secrets.DOCKER_PASS }}
        NEXT_VERSION: ${{ steps.version.outputs.version }}
      run: |
        echo "Starting login on Antonio's DockerHub repository ..."
        docker login -u $DOCKER_USER -p $DOCKER_PASS
        echo "New vwersion: $NEXT_VERSION *********** "

#    - name: Build Docker image locally
#      run: |
#        docker build --tag 4ht0h10/graphql-actions:2.3 .
#        docker build --tag 4ht0h10/graphql-actions:latest .
#
#    - name: Push Docker image to DockerHub
#      run: |
#        docker push 4ht0h10/graphql-actions:2.3
#        docker push 4ht0h10/graphql-actions:latest